In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'c:\\Users\\herturk\\OneDrive - Managed Network Solutions Inc\\Desktop'

In [4]:
df=pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
df.shape

(1599, 12)

In [7]:
input_shape=[11] #There are 11 columns other than the target column

In [12]:
from tensorflow import keras
from tensorflow.keras import layers

model = keras.Sequential([layers.Dense(units = 512, input_shape = input_shape),
                layers.Dense(units = 512, activation ='relu'),
                layers.Dense(units = 512, activation = 'relu'),
                layers.Dense(units=1) ])

In [13]:
model.compile(optimizer='adam', loss='mae',)

In [17]:
df_train = df.sample(frac=0.7, random_state=5)
df_valid = df.drop(df_train.index)
df_train.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
236,7.2,0.63,0.00,1.9,0.097,14.0,38.0,0.99675,3.37,0.58,9.0,6
833,11.6,0.47,0.44,1.6,0.147,36.0,51.0,0.99836,3.38,0.86,9.9,4
424,7.7,0.96,0.20,2.0,0.047,15.0,60.0,0.99550,3.36,0.44,10.9,5

In [18]:
max_train = df_train.max(axis=0)
min_train = df_train.min(axis=0)
df_train = (df_train - min_train) / (max_train - min_train)
df_valid = (df_valid - min_train) / (max_train - min_train)

In [23]:
X_train = df_train.drop('quality', axis = 1)
X_valid = df_train.drop('quality', axis = 1)
y_train = df_train['quality']
y_valid = df_train['quality']

In [24]:
X_train.shape

(1119, 11)

In [25]:
y_train.shape

(1119,)

In [26]:
history = model.fit( X_train, y_train, validation_data = (X_valid, y_valid), batch_size = 256, epochs = 10 )

Epoch 1/10
5/5 [==============================] - 1s 107ms/step - loss: 0.2632 - val_loss: 0.1771
Epoch 2/10
5/5 [==============================] - 0s 35ms/step - loss: 0.1516 - val_loss: 0.1478
Epoch 3/10
5/5 [==============================] - 0s 34ms/step - loss: 0.1309 - val_loss: 0.1290
Epoch 4/10
5/5 [==============================] - 0s 31ms/step - loss: 0.1201 - val_loss: 0.1191
Epoch 5/10
5/5 [==============================] - 0s 35ms/step - loss: 0.1142 - val_loss: 0.1121
Epoch 6/10
5/5 [==============================] - 0s 33ms/step - loss: 0.1088 - val_loss: 0.1065
Epoch 7/10
5/5 [==============================] - 0s 30ms/step - loss: 0.1065 - val_loss: 0.1044
Epoch 8/10
5/5 [==============================] - 0s 35ms/step - loss: 0.1049 - val_loss: 0.1034
Epoch 9/10
5/5 [==============================] - 0s 35ms/step - loss: 0.1031 - val_loss: 0.1022
Epoch 10/10
5/5 [==============================] - 0s 36ms/step - loss: 0.1021 - val_loss: 0.1022